.navbar {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light);
  border-bottom: 0.16rem solid var(--accent);
}

.hamburger {
  cursor: pointer;
  margin-right: 1rem;
}
