.title {
  font-size: 1.5rem;
  margin: 1rem 0 1rem 0.25rem;
  font-weight: 300;
}

.text {
  margin-top: 0.25rem;
  margin-left: 0.25rem;
}

.register {
  background-color: var(--light);
}

.form-container {
  padding: 1.5rem 0 2rem 1rem;
}

.label {
  word-spacing: 0.08rem;
  letter-spacing: 0.04rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.form-widget {
  margin-top: 0.75rem;
}

.input-form {
  width: 63%;
  font-size: 0.9rem;
  margin-right: 0.5rem;
  border: 1px solid var(--dark);
  border-radius: 0.45rem;
  padding: 0.68rem 0 0.68rem 0.5rem;
}
