.title {
  text-transform: capitalize;
  padding-left: 1rem;
  margin-bottom: 2rem;
  font-weight: 300;
}

.container {
  padding-left: 0;
}

.event {
  margin-bottom: 2.5rem;
}

.image {
  border-radius: 0.5rem;
}

.category-title {
  margin: 0;
  color: var(--darker);
  font-weight: 600;
  letter-spacing: 0.08rem;
}

.text {
  line-height: 1.2;
  margin: 0;
  font-size: 0.8rem;
  padding-right: 2rem;
}

/* Media Queries */

@media (min-width: 425px) {
  .event {
    display: flex;
    justify-content: center;
    margin-bottom: 1.8rem;
  }

  .figure {
    margin-left: 0.5rem;
    margin-right: 1rem;
  }

  .category-title {
    font-size: 1.5rem;
  }

  .text {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .wrapper {
    min-width: 768px;
    margin: 0 auto;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
